<connectionStrings>
  <clear />
  <add name="MobileStoreConnection" connectionString="data source=DESKTOP-PDQNB2I\SQLEXPRESS;initial catalog=MobileStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="MobileStoreConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=MobileStore;Integrated Security=False;User Id=sa;Password=121189;MultipleActiveResultSets=True" />-->
</connectionStrings>